/* NOTE: sass input.scss output.css */

html {
    height: 100%;
}

.neutralTitle {
    text-align: center;
    height: 10%;
}

.neutralContainer {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    background-color: lightcyan;
    align-items: center;
}

/* The Dark Side */

.darkCard {
    width: 0%;
    flex-grow: 1;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 25%;
    border-color: crimson;
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.darkCard > h2 {
    color: darkgray;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

.darkCard > img {
    border-radius: 20%;
    max-height: 30%;
    max-width: 90%;
    opacity: 0.3;
    filter: grayscale(80%);
}

#darkSideContent_1 {
    font-size: 0.8rem;
    font-weight: 100;
    color: darkslategray;
    text-align: center;
}

#darkSideContent_2 {
    font-size: 0.8rem;
    font-weight: 100;
    color: darkslategray;
    text-align: center;
}

#darkSideContent_3 {
    font-size: 0.8rem;
    font-weight: 100;
    color: darkslategray;
    text-align: center;
}

#darkSideContent_4 {
    font-size: 0.8rem;
    font-weight: 100;
    color: darkslategray;
    text-align: center;
}

#darkSideButton {
    font-size: 2rem;
    width: 90%;
    max-width: 90%;
    text-overflow: clip;
    overflow: hidden;
    color: red;
    background-color: black;
    text-align: center;
}

.darkCard:hover {
    flex-grow: 2;
    background-color: black;
    transition: background-color 1s;
}

.darkCard:hover > h2 {
    color: indianred;
    font-weight: 900;
    transition: color 1s;
    transition: font-weight 1s;
}

.darkCard:hover > #darkSideContent_1 {
    color: crimson;
    font-size: 1.1rem;
    font-weight: 900;
    transition: all 1s;
}

.darkCard:hover > #darkSideContent_2 {
    color: aqua;
    font-size: 1.3rem;
    font-weight: 900;
    transition: all 1s;
}

.darkCard:hover > #darkSideContent_3 {
    color: chartreuse;
    font-size: 1.5rem;
    font-weight: 900;
    transition: all 1s;
}

.darkCard:hover > #darkSideContent_4 {
    color: gold;
    font-size: 1.7rem;
    font-weight: 900;
    transition: all 1s;
}

.darkCard > img:hover {
    opacity: 1;
    filter: grayscale(0%);
    transition: filter 1.5s;
    transition: opacity 1.5s;
}

/* The Light Side */

.lightCard {
    width: 0%;
    flex-grow: 1;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 25%;
    border-color: mediumspringgreen;
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        color: darkkhaki;
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
    }

    &__img {
        border-radius: 20%;
        max-height: 30%;
        max-width: 90%;
        opacity: 0.3;
        filter: grayscale(80%);
    }

    &__content {
        font-size: 0.8rem;
        font-weight: 100;
        color: khaki;
        text-align: center;
    }

    &__button {
        font-size: 2rem;
        width: 90%;
        max-width: 90%;
        text-overflow: clip;
        overflow: hidden;
        color: greenyellow;
        background-color: darkgreen;
        text-align: center;
    }

    &:hover {
        flex-grow: 2;
        background-color: cornsilk;
        transition: background-color 1s;
    }

    &:hover > &__title--hover {
        color: green;
        font-weight: 900;
        transition: all 1s;
    }

    $colors: (1 crimson, 2 aqua, 3 chartreuse, 4 gold);
    @each $i, $color in $colors {
        &:hover > &__content#{$i}--hover {
            color: $color;
            font-size: 0.9rem + 0.2rem * $i;
            font-weight: 900;
            transition: all 1s;
        }
    }

    &__img:hover {
        opacity: 1;
        filter: grayscale(0%);
        transition: all 1.5s;
    }
}

@media only screen and (max-width: 1000px) {
    .neutralContainer {
        flex-wrap: wrap;
    }
    .darkCard,
    .lightCard {
        width: 100%;
    }
}
